.app {

    .button {
        display: flex;
        cursor: pointer;
        padding: 0 16px;
        background: none;
        user-select: none;
        border-radius: 4px;
        align-items: center;
        text-decoration: none;
        min-width: max-content;
        justify-content: center;
        transition: var(--transition);
        border: 1px solid transparent;

        &:focus-visible {
            outline: none;
        }
    }

    .icon-button {
        width: 30px;
        height: 30px;
        font-size: 20px;
        padding: 0px !important;
        color: var(--color-black);
    }

    .primary-button {
        height: 34px;
        letter-spacing: .4px;
        text-decoration: none;
        min-width: max-content;
        color: var(--color-black);
        transition: var(--transition);
        border-color: var(--color-black);
        font: normal 12px var(--font-sans);
        
        &:hover {
            color: var(--color-white);
            background-color: var(--color-black);
        }
    }

    .action-button {
        height: 34px;
        letter-spacing: .4px;
        color: var(--color-white);
        text-transform: capitalize;
        transition: var(--transition);
        font: bold 12px var(--font-sans);
        background-color: var(--color-black);

        svg {
            margin-right: 8px;
        }
    }

    .border-button {
        height: 34px;
        letter-spacing: .4px;
        color: var(--color-black);
        text-transform: capitalize;
        transition: var(--transition);
        background-color: transparent;
        border-color: var(--color-black);
        font: bold 12px var(--font-sans);
    }

    .action-button.ghost {
        color: var(--color-black);
        background-color: var(--color-white);

        &:hover {
            color: var(--color-white);
            background-color: var(--color-black);
        }
    }

    .action-button.ghosting {
        color: var(--color-white);
        background-color: var(--color-black);

        &:hover {
            color: var(--color-black);
            background-color: var(--color-white);
        }
    }

    .ghost-button {
        height: 34px;
        cursor: pointer;
        letter-spacing: .2px;
        color: var(--color-white);
        background-color: transparent;
        font: normal 12px var(--font-sans);
        border: 1px solid var(--color-white);
        transition: var(--transition);

        &:hover {
            color: var(--color-black);
            background-color: var(--color-white);
        }
    }
}