// ---- ---- Poppins ---- ---- //
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// ---- ---- Genos ---- ---- //
@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&display=swap');

// ---- ---- Kosugi Maru ---- ---- //
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

// ---- ---- Emblema One ---- ---- //
@import url('https://fonts.googleapis.com/css2?family=Emblema+One&display=swap');